<div class="container">  
  <div class="row">
    <div class="user-show-aside col-xs-12 col-md-3 mt-4 h-50">
      <div class="user-show-image">
        <%= image_tag @user.image.to_s, class: 'show-profile-image-circle img-thumbnail' %>
      </div>
      <div>
        <div class="user-show-name text-center"><%= @user.name %></div>
        <hr>
        <div class="mb-1"><i class="fas fa-address-card"></i> Profile</div>
        <p class="user-show-profile"><%= auto_link(@user.profile, html: {target: '_blank'}) %></p>
        <% if current_user == @user %>
          <hr>
          <%= link_to edit_user_registration_path(current_user), class: 'user-show-to-edit' do %>
            <i class="fas fa-user-edit"></i> プロフィールの編集
          <% end %>
        <% end %>
        <hr>
        <div class="mb-3 text-center">
          <%= render 'relationships/follow_button', user: @user %> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 mt-4 mb-4">
      <div>
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li class="nav-item"><%= link_to "#mypost", id: 'mypost-tab', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "mypost" }, aria: { selected: "true" } do %>投稿 <span class="badge badge-info"><%= @count_posts %></span><% end %></li>
          <li class="nav-item"><%= link_to "#liking", id: 'liking-tab', class: 'nav-link', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "liking" }, aria: { selected: "false" }  do %>いいね <span class="badge badge-info"><%= @count_likes %></span><% end %></li>
          <li class="nav-item"><%= link_to "#followings", id: 'followings-tab', class: 'nav-link', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "followings" }, aria: { selected: "false" } do %>フォロー中 <span class="badge badge-info"><%= @count_followings %></span><% end %></li>
          <li class="nav-item"><%= link_to "#followers", id: 'followers-tab', class: 'nav-link', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "followers" }, aria: { selected: "false" }  do %>フォロワー <span class="badge badge-info"><%= @count_followers %></span><% end %></li>
        </ul>
        <div id="myTabContent" class="tab-content pt-3 my-tab-content">
          <div id="mypost" class="tab-pane active" role="tabpanel" aria-labelledby="mypost-tab">
            <%= render 'posts/posts', posts: @posts %>
          </div> 
          <div id="liking" class="tab-pane" role="tabpanel" aria-labelledby="liking-tab">
            <%= render 'posts/posts', posts: @liking %>
          </div> 
          <div id="followings" class="tab-pane" role="tabpanel" aria-labelledby="followings-tab">
            <%= render 'users', users: @followings %>
          </div> 
          <div id="followers" class="tab-pane" role="tabpanel" aria-labelledby="followers-tab">
            <%= render 'users', users: @followers %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>