<% if user_signed_in? %>
  <div class="row">
    <div class="col-xs-12 col-md-9 mt-4 mb-4 order-md-2">
      <% if params[:q] %>
        <div class="home-title"><%= "#{params[:q]}の検索結果" %></div>
      <% elsif params[:tag] %>
        <div class="home-title"><%= "絞り込み：#{params[:tag]}" %></div>
      <% end %>
      <div>
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li class="nav-item"><%= link_to "#newpost", id: 'newpost-tab', class: 'nav-link active', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "newpost" }, aria: { selected: "true" } do %>新着順<% end %></li>
          <li class="nav-item"><%= link_to "#likingpost", id: 'likingpost-tab', class: 'nav-link', role: 'tab', data: { toggle: 'tab' }, aria: { controls: "likingpost" }, aria: { selected: "false" } do %>人気順<% end %></li>
        </ul>
        <div id="myTabContent" class="tab-content pt-3 my-tab-content">
          <div id="newpost" class="tab-pane active" role="tabpanel" aria-labelledby="newpost-tab">
            <%= render 'posts/posts', posts: @posts %>
          </div> 
          <div id="likingpost" class="tab-pane" role="tabpanel" aria-labelledby="likingpost-tab">
            <%= render 'posts/posts', posts: @liking %>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 mt-4 order-md-1">
      <p class="tag-title">タグ一覧</p>
      <div class="tag-cloud">
        <% tag_cloud(@tags, %w(css1)) do |tag, css_class| %>
          <%= link_to "#{tag.name}(#{tag.count})", tag_path(tag.name), :class => css_class %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="home-top jumbotron jumbotron-fluid jumbotron-extend">
    <div class="container home-text">
      <h1>Studireへようこそ</h1>
      <%= link_to '会員登録はこちら', new_user_registration_path, class: 'btn btn-lg btn-primary home-link' %>
    </div>
  </div>
  <div class="home-render">
    <%= render 'posts/posts', posts: @posts %>
  </div>
<% end %>