<ul class="list-unstyled post-media">
  <% posts.each do |post| %>
    <li class="media">
      <%= image_tag post.user.image.to_s, class: 'mr-3', :size => '50x50' %>
      <div class="media-body post-media-content">
        <div class="mt-0">
          <%= link_to post.user.name, user_path(post.user), class: 'post-media-name' %>
          <span class="text-muted post-index-date">投稿日<%= post.created_at.strftime("%Y/%m/%d") %></span>
          <br>
          <%= link_to post.title, post_path(post), class: 'post-media-title' %>
          <div class="post-index-tag">
            <span><i class="fas fa-thumbs-up"></i>&nbsp;<%= post.liked_users.count %></span> 
            <span>&ensp;<i class="fas fa-tags"></i>&nbsp;<%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %></span>
          </div>
        </div>
      </div>
    </li>
    <hr>
  <% end %>
  <%= paginate posts %>
</ul>