<div class="row">
    <p>Tags: <%= raw(@post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
    <div class="col-lg-8">
      <h2><%= @post.title %></h2>
    </div>
    <div class="col-lg-8">
      <h3>経歴</h3>
      <p class="text-break"><%= @post.content %></p>
    </div>
    <div class="col-lg-8">
      <h3>使用した参考書・サービス</h3>
      <p class="text-break"><%= simple_format(@post.book) %></p>
    </div>

    <div class="col-lg-8">
      <h3>学習方法・学習時間</h3>
      <p class="text-break"><%= simple_format(@post.direction) %></p>
    </div>
    <div class="col-lg-8">
      <h3>まとめ</h3>
      <p class="text-break"><%= simple_format(@post.summary) %></p>
      <% if current_user == @post.user %>
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to "削除",  @post, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </div>

  <div class="col-md-8">
    <div class="media">
      <% @comments.each do |comment| %>
            <!--<a href="#" class="mr-3">
            <img src="..." alt="メディアの画像">
            </a>-->
          <%= image_tag comment.user.image.to_s, class: 'mr-3', :size => '50x50' %>
      <div class="media-body">
        <div>
          <%= link_to comment.user.name, user_path(comment.user) %> <span class="text-muted">投稿日 <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
        </div>
        <div>
          <%= comment.content %>
          <% end %>
        </div>
      </div><!-- /.media-body -->
    </div><!-- /.media -->
  </div>
 </div>

  <%# <div class="row">
    <div class="col-lg-8">
      <%= render 'comments/comments' %>
    <!--</div>
  </div> -->
  <div class="form-group">
    <%= form_for [@post, @comment] do |f| %>
        <%= f.text_area :content, class: 'form-control', rows: '5' %>
        <%= f.submit 'コメントする', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
 
