<div class="container">
  <div class="col-xs-10 offset-xs-1 col-md-8 offset-md-2 user-edit-wrapper">
    <div class="user-edit-title text-center">
      <p>
        <%= link_to "#{@user.name}", user_path(current_user) %>さんのプロフィール変更
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-center">
      <%= image_tag @user.image.url, class: 'user-edit-image-circle mb-3 img-thumbnail' %><br>
    </div>
    <div class="form-group">
      <%= f.label :image, 'プロフィール画像', class: 'user-edit-label' %><br>
      <%= f.file_field :image, class: 'form-control-file' %>
    </div>
    <div class="field form-group">
      <%= f.label :name, '名前', class: 'user-edit-label' %><br />
      <%= f.text_field :name, class: 'form-control mb-4' %>
    </div>
    <div class="form-group">
      <%= f.label :profile, '自己紹介', class: 'user-edit-label' %>
      <%= f.text_area :profile, placeholder: '200文字以内。',rows: "5", class: "form-control profile", id: "profile-count" %>
      <div id="user-counter" class="text-right count-default">0文字</div>
    </div>
    <div class="actions">
      <%= f.submit "更新", class: 'btn btn-outline-primary btn-block mb-4' %>
    </div>
    <% end %>
    <p class="m-0">退会される方はこちら&darr;</p>
    <% if current_user.email != "test@example.com" %>
    <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete, class: 'btn btn-lg btn-destroy' %>
    <% else %>
    <button type="button" class="btn btn-destroy" disabled>テストユーザは退会できません</button>
    <% end %>
  </div>
</div>